body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: Nunito;
  font-weight: bold;
}

.flex {
  display: flex;
}

.main-div {
  height: 100%;
}

aside {
  width: 15%;
  box-shadow: 10px 0px 14px 2px rgba(191, 191, 191, 0.19);
}

main {
  width: 85%;
}

.icon {
  height: 24px;
  width: 24px;
}

#recodedLogo {
  height: 24px;
  width: auto;
}

.padding-2 {
  padding: 16px;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-items-center {
  align-items: center;
}

.nav-item {
  padding-top: 32px;
}

.margin-left {
  margin-left: 16px;
}

.nav-list {
  list-style-type: none;
}

.selected {
  color: orange;
}

.profile-small {
  height: 32px;
  width: 32px;
}

.rounded {
  border-radius: 8px;
}

.flex-dir-col {
  flex-direction: column;
}

.btn {
  background-color: #2d2a43;
  color: white;
  border: none;
  padding: 14px 18px;
}

.btn-outline {
  background-color: white;
  color: #2d2a43;
  border: 1px solid #2d2a43;
  padding: 14px 18px;
}

.text-center {
  text-align: center;
}

.header {
  justify-content: flex-end;
  align-items: center;
  margin: 16px 0px;
}

.avatar {
  margin-right: -12px;
  height: 36px;
  width: 36px;
  border: 1px solid white;
}

.avatar:last-child {
  margin-right: 0;
}

.number-avatar {
  margin-right: -12px;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.shadow-sm {
  box-shadow: 0px 0px 52px 0px rgba(112, 112, 112, 0.17);
}

.profile {
  height: 180px;
  width: 180px;
}

.rounded-md {
  border-radius: 24px;
}

h2 {
  margin: 0px;
}

p {
  margin: 0px;
}

.w-full {
  width: 60%;
}

.margin-left-lg {
  margin-left: 40px;
}

.icon-container {
  height: 32px;
  width: 32px;
  justify-content: center;
}

.padding-sm {
  padding: 10px;
}

.rounded-full {
  border-radius: 50%;
}

.flame-icon {
  background-color: white;
  top: -12px;
  right: -12px;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background-color: #f0f0f0;
  margin: 24px 0px;
}

.progress-bar-colored {
  width: 44%;
  height: 8px;
  background: rgb(255, 169, 224);
  background: linear-gradient(
    90deg,
    rgba(255, 169, 224, 1) 0%,
    rgba(254, 161, 173, 1) 49%,
    rgba(252, 152, 120, 1) 99%
  );
  top: 0;
  left: 0;
}

.progress-bar-sm {
  width: 120px;
  height: 8px;
  background-color: #f0f0f0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.card {
  width: 50%;
  height: 100%;
  margin: 36px 16px;
  padding: 16px;
}

.small-box {
  height: 24px;
  width: 24px;
  padding: 4px;
  background-color: #f0f0f0;
  justify-content: center;
}

.text-light {
  color: lightgray;
}

.text-sm {
  font-size: 12px;
}

.line {
  border: 0;
  background-color: #f0f0f0;
  height: 2px;
}

.hexagon-container {
  margin: 48px 0;
  justify-content: space-evenly;
}

.hexagon {
  transform: rotate(90deg);
  height: 100px;
  width: auto;
}

.text-shadow {
  text-shadow: 0px 0px 51px rgb(129, 129, 129);
}

.circle {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  justify-content: center;
}

.green-circle {
  background-color: #7aceba;
  border: 4px solid #5ebea7;
  box-shadow: 0px 0px 59px 0px rgba(122, 206, 186, 1);
}

.orange-circle {
  background-color: #ffbf1c;
  border: 4px solid #f2b00a;
  box-shadow: 0px 0px 59px 0px rgba(255, 191, 28, 1);
}

.pink-circle {
  background-color: #ffa5de;
  border: 4px solid#f085c9;
  box-shadow: 0px 0px 59px 0px rgba(255, 165, 222, 1);
}

.icon-lg {
  height: 24px;
  width: 24px;
}
